.box-content{
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-title{
    height: 4vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    top: 15px;
}

#title{
    height: 30px;
}

.arrow{
    width: 10vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows{
    height: 55px;
}

.component-mid{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

content-efollet{
    height: 30vh;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-efollets{
    height: 140px;
    width: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#p-efollet{
    height: 170px;
}

@media (max-width: 370px) {
    #p-efollet{
        height: 135px;
    }
    .img-efollets{
        height: 100px;
    }
  }
